<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="header" class="faqs-color">FAQs</h1>
      <div id="body">
        <h3>What information do we store?</h3>
        <p>If you are on the <a routerLink="../pricing">base plan</a> we only store the information found in your <a routerLink="../profile">Profile</a>.</p>
        <p>Individuals on the premium tier (soon to come) will have their cycle data stored by us <em>and</em> within their Google Calendar and Sheets. Storing the data will allow us to provide predictive cycle assumptions. As well as allow the modification of past cycles to improve our predictive cycle analytics.</p>
        <p>This is an important difference because it means, individuals on the free tier, that delete their generated OvTracker Calendar and Sheet will loose all data.
        And will need to return to their OvTracker account to create a new Calendar and Sheet if they want to start tracking again.</p>
        <p>Please check out our <a routerLink="../privacy">Privacy Policy</a> and <a routerLink="../terms">Terms & Conditions</a> to learn more about how we use your data.</p>
        <p>If you have any questions let us know at OvTracker@electricfeel.co</p>
      </div>
    </div>
  </div>
</div>
