<div class="container-fluid" class="about-us-pg-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6" id="logo">
        <img src="/assets/images/OvTracker-Logo-about-us.png" height="300px">
      </div><br>
      <div class="col-sm-6">
        <mat-card [style.backgroundColor]="'#FBF9FB'">
          <mat-card-title><h2 style="color: #9b4dca;">What is OvTracker?</h2></mat-card-title>
          <mat-card-content><p><em><strong>It's your go to resource for tracking your menstruation cycles!</strong></em>
          </p>
            <p>Hi there, I'm <a href="https://twitter.com/uxfarah" target="_blank">Farah</a>. Last October my cell
              phone was bricked when an over the air update went wrong; and I lost
              all the data on my phone.</p>
            <p>Most of my content was backed up -- except one. The app I was using to track my cycles. There are many
              apps that provide this service but most require the use of storing all your information within their datastores
              and can't be exported to other resources.</p>
            <p>So I created a simple cycle tracking system that would be accessible anywhere and isn't tied to a
              specific provider. I created OvTracker.</p>
            <p style="color: #9b4dca;">How it works:</p>
            <ul style="color: #9b4dca;">
              <li>First you'll log in via Google. And provide consent to your Google Calendar and Google
                Sheets.
              </li>
              <li>Once logged in you'll enter your previous and last month's menstruation cycle and the tracking will
                begin!
              </li>
              <li>Moving forward your cycles will be logged in your own OvTracker calendar within Google Calendar and Sheet
              </li>
            </ul>
            <p>Your data will be accessible on your terms, wherever and whenever you want.</p>
            <p>If you have feedback please take our 1-minute <a routerLink="../survey">survey</a>.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
