#intro {
  /*background-color: #FBF9FB;*/
}

#step-1-background {
  background-color: #FBF9FB;
}

#step-2-background {
  /*background-color: #FBF9FB;*/
}

#step-3-background {
  background-color: #FBF9FB;
}

#step-4-background {
  /*background-color: #FBF9FB;*/
}

#step-5-background {
  background-color: #FBF9FB;
}

#results {
  /*background-color: #FBF9FB;*/
}

.step-titles {
  text-align: center;
  color: #4D4298;
}
