<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <!--<em>Made by <a href="https://twitter.com/uxfarah" target="_blank">Farah</a> of <a href="http://www.electricfeel.co" target="_blank">Electric Feel</a></em><br>-->
      <a routerLink="about-us">About Us</a> |
      <a routerLink="privacy">Privacy Policy</a>
      <a routerLink="terms"> | Terms & Conditions</a>
      <a routerLink="faqs"> | FAQs</a><br>
      Copyright © 2017 - {{ year }}
    </p>
  </div>
</footer>


<!--Simple, Agnostic & Always Yours-->
